@using Newtonsoft.Json

@model Web.Models.ViewModels.PageViewModel<Web.Models.Pages.ArticleListPage>

<div class="article-list-page" ng-controller="ArticleListController" ng-init="init(@JsonConvert.SerializeObject(@Model.CurrentPage.ArticlePageList))">
    <div class="container">
        <div class="row">
            <div class="main-text">
                <h1>@Model.CurrentPage.Heading</h1>
                @Model.CurrentPage.Ingress
            </div>
        </div>   
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12" ng-repeat="articleItem in articleItemList" on-finish-render="setHeight()">
                    <div class="article-list-item">
                        <a class="no-underline" target="_blank" href="{{articleItem.link}}">
                            <div class="article-list-picture"><img src="{{articleItem.image}}" /></div>
                            <div class="article-list-item-text-container">
                                <h4 class="article-list-item-title">{{articleItem.title}}</h4>
                                <div class="article-list-item-description">{{articleItem.description}}</div>
                                <div class="article-list-item-date">{{articleItem.publicationDate}}</div>
                                <div class="article-list-item-read-more">
                                    Läs mer
                                </div>
                                <div class="article-list-item-read-more-underline">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    </div>
    @*<div class="pager">
            <ul ng-if="pager.pages.length">
                <li ng-repeat="page in pager.pages">
                    <a ng-click="setListPage(page)" ng-class="pager.currentPage === page ? 'selected' : ''">{{page}}</a>
                </li>
            </ul>
        </div>*@
</div>
