/*.main {
    margin-top: 190px;
}*/
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; }

/*MIXIN*/
/*Used for icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*END MIXIN*/
.spinner-background {
  background-color: black;
  width: 100%;
  height: 1200px;
  position: absolute;
  z-index: 1000;
  display: none; }
  .spinner-background .edspinner {
    background-image: url("/Static/img/edspinner.gif");
    width: 64px;
    height: 64px;
    display: none;
    left: 50%;
    margin-top: 330px;
    position: absolute;
    z-index: 2000;
    display: none; }

.hide-vue {
  display: none; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: black !important; }

@media screen and (max-width: 667px) {
  .spinner-background .edspinner {
    left: 40%;
    margin-top: 260px; } }

/* ArticleListPage */
.article-list-page .main-text {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 35px; }

.article-list-page .main-text h1 {
  color: black;
  text-decoration: none; }

.article-list-page .main-text p {
  margin-top: 10px; }

.article-list-page .article-list-item {
  background-color: #f4f4f4;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
  opacity: 1;
  transition: 0.3s; }

.article-list-page .article-list-item:hover {
  cursor: pointer;
  background-color: #99c9ff;
  opacity: 0.7; }

.article-list-page .article-list-item a.no-underline {
  cursor: pointer;
  text-decoration: none;
  color: black; }

.article-list-page .article-list-item .article-list-item-picture img {
  max-width: 100% !important;
  min-width: 100% !important;
  min-height: 292.5px;
  max-height: 292.5px; }

.article-list-page .article-list-item .article-list-item-text-container {
  padding: 25px 20px 50px 20px; }

.article-list-page .article-list-item .article-list-item-text-container .article-list-item-read-more {
  margin-top: 15px;
  color: black;
  font-weight: bold; }

.article-list-page .article-list-item .article-list-item-text-container .article-list-item-read-more-underline {
  height: 3px;
  position: absolute; }

/*.main {
    margin-top: 190px;
}*/
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; }

/*MIXIN*/
/*Used for icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*END MIXIN*/
.spinner-background {
  background-color: black;
  width: 100%;
  height: 1200px;
  position: absolute;
  z-index: 1000;
  display: none; }
  .spinner-background .edspinner {
    background-image: url("/Static/img/edspinner.gif");
    width: 64px;
    height: 64px;
    display: none;
    left: 50%;
    margin-top: 330px;
    position: absolute;
    z-index: 2000;
    display: none; }

.hide-vue {
  display: none; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: black !important; }

@media screen and (max-width: 667px) {
  .spinner-background .edspinner {
    left: 40%;
    margin-top: 260px; } }

/*article page*/
.article-page {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px; }
  .article-page .article-page-center {
    max-width: 80%;
    margin-left: 10%; }
  .article-page .article-page-heading {
    margin-top: 30px; }
  .article-page .article-page-heading h1 {
    font-size: 40px; }
  .article-page .article-page-startpublish {
    font-size: 16px; }
  .article-page .article-page-ingress {
    margin-top: 20px;
    margin-right: 15%;
    font-size: 22px;
    color: darkgray; }
  .article-page .article-page-main-body {
    margin-top: 30px;
    margin-right: 15%;
    font-size: 18px; }
  .article-page .article-page-signature {
    float: right;
    margin-right: 7%; }
  .article-page .code-heading {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 60px; }

/*.main {
    margin-top: 190px;
}*/
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; }

/*MIXIN*/
/*Used for icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*END MIXIN*/
.spinner-background {
  background-color: black;
  width: 100%;
  height: 1200px;
  position: absolute;
  z-index: 1000;
  display: none; }
  .spinner-background .edspinner {
    background-image: url("/Static/img/edspinner.gif");
    width: 64px;
    height: 64px;
    display: none;
    left: 50%;
    margin-top: 330px;
    position: absolute;
    z-index: 2000;
    display: none; }

.hide-vue {
  display: none; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: black !important; }

@media screen and (max-width: 667px) {
  .spinner-background .edspinner {
    left: 40%;
    margin-top: 260px; } }

/* Buttons */
.btn-default {
  border: solid 2px #99c9ff;
  background-color: #23aae2;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 10px 40px 10px 40px;
  color: #ffffff;
  z-index: 10;
  cursor: pointer;
  font-weight: 600;
  border-radius: 27px;
  height: 48px;
  transition: all .25s ease-out; }

.btn-default:active,
.btn-default:hover {
  background-color: #1c88b4;
  border: solid 2px #1c88b4;
  color: #ffffff;
  transition: all .25s ease-out; }

.btn-secondary {
  border: solid 2px #23aae2;
  background-color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 10px 40px 10px 40px;
  color: #23aae2;
  z-index: 10;
  cursor: pointer;
  font-weight: 600;
  border-radius: 27px;
  height: 48px;
  transition: all .25s ease-out; }

.btn-secondary:active,
.btn-secondary:hover {
  background-color: #f4f4f4;
  border: solid 2px #23aae2;
  color: #23aae2;
  transition: all .25s ease-out; }

.btn-ed {
  background-color: black;
  color: #99c9ff; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  background-color: black;
  filter: alpha(opacity=30);
  opacity: 0.7;
  display: none; }

/*.main {
    margin-top: 190px;
}*/
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; }

/*MIXIN*/
/*Used for icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*END MIXIN*/
.spinner-background {
  background-color: black;
  width: 100%;
  height: 1200px;
  position: absolute;
  z-index: 1000;
  display: none; }
  .spinner-background .edspinner {
    background-image: url("/Static/img/edspinner.gif");
    width: 64px;
    height: 64px;
    display: none;
    left: 50%;
    margin-top: 330px;
    position: absolute;
    z-index: 2000;
    display: none; }

.hide-vue {
  display: none; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: black !important; }

@media screen and (max-width: 667px) {
  .spinner-background .edspinner {
    left: 40%;
    margin-top: 260px; } }

/*Control Panel*/
.control-panel-page {
  background-color: #f4f4f4; }

.control-panel-page .main-text {
  margin-bottom: 40px;
  margin-top: 20px; }

.control-panel-page .main-text h1 {
  margin-left: 15px; }

.control-panel-page .control-panel-page-panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.control-panel-page .control-panel-page-panel .panel-links-heading {
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 20px; }

.control-panel-page .control-panel-page-panel .panel-link-container {
  height: 300px; }

.control-panel-page .control-panel-page-panel .panel-link-container a {
  text-decoration: none; }

.control-panel-page .control-panel-page-panel .panel-link-container .control-panel-link-item {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  padding: 10px 10px 10px 10px;
  -webkit-transition: box-shadow 200ms;
  transition: box-shadow 200ms;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px; }

.control-panel-page .control-panel-page-panel .panel-link-container .control-panel-link-item:after {
  opacity: 0;
  transition: opacity 0.3s ease-in-out; }

.control-panel-page .control-panel-page-panel .panel-link-container .control-panel-link-item:hover:after {
  opacity: 1; }

.control-panel-page .control-panel-page-panel .panel-link-container .control-panel-link-item .control-panel-link-item-text {
  text-transform: uppercase;
  color: #4d4d4d;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  font-size: 18px; }

/*.main {
    margin-top: 190px;
}*/
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; }

/*MIXIN*/
/*Used for icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*END MIXIN*/
.spinner-background {
  background-color: black;
  width: 100%;
  height: 1200px;
  position: absolute;
  z-index: 1000;
  display: none; }
  .spinner-background .edspinner {
    background-image: url("/Static/img/edspinner.gif");
    width: 64px;
    height: 64px;
    display: none;
    left: 50%;
    margin-top: 330px;
    position: absolute;
    z-index: 2000;
    display: none; }

.hide-vue {
  display: none; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: black !important; }

@media screen and (max-width: 667px) {
  .spinner-background .edspinner {
    left: 40%;
    margin-top: 260px; } }

.error-bg {
  background-image: url(/Static/img/black_and_white_man_error_page.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1024px; }

.error-bg .error-inner {
  margin: auto;
  padding-top: 170px; }

.error-bg .error-inner .error-text-404 {
  font-size: 160px;
  color: white;
  font-family: sans-serif; }

.error-bg .error-inner .intro {
  margin-top: 15px; }

.error-bg .error-inner p,
.error-bg .error-inner h1 {
  color: #ffffff;
  margin-bottom: 15px; }

.error-bg .error-inner .error-text-links {
  color: #99c9ff;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 10px; }

.error-bg .error-inner .error-logo {
  width: 217px;
  height: 54px;
  margin-top: 120px; }

.error-bg .error-inner .error-status {
  margin-bottom: 50px; }

/*.main {
    margin-top: 190px;
}*/
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; }

/*MIXIN*/
/*Used for icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*END MIXIN*/
.spinner-background {
  background-color: black;
  width: 100%;
  height: 1200px;
  position: absolute;
  z-index: 1000;
  display: none; }
  .spinner-background .edspinner {
    background-image: url("/Static/img/edspinner.gif");
    width: 64px;
    height: 64px;
    display: none;
    left: 50%;
    margin-top: 330px;
    position: absolute;
    z-index: 2000;
    display: none; }

.hide-vue {
  display: none; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: black !important; }

@media screen and (max-width: 667px) {
  .spinner-background .edspinner {
    left: 40%;
    margin-top: 260px; } }

a.email {
  color: white; }

.footer {
  background-color: black;
  height: 500px;
  margin-top: 60px; }
  .footer .footer-heading {
    color: white;
    font-size: 20px;
    padding-top: 100px; }
  .footer .footer-contact {
    font-size: 18px;
    color: white;
    margin-top: 25px;
    text-decoration: none !important;
    text-underline: none !important; }
  .footer .footer-social-icons {
    margin-top: 40px; }
  .footer ul.footer-menu {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 60px;
    padding: 0; }
    .footer ul.footer-menu li {
      margin-bottom: 10px;
      text-decoration: none;
      list-style-type: none; }
      .footer ul.footer-menu li a {
        text-decoration: none;
        color: white;
        font-family: Oswald,sans-serif;
        text-decoration: none;
        text-transform: uppercase; }
        .footer ul.footer-menu li a:hover {
          color: #d3132b;
          /*color: #da1b60;*/ }

@media screen and (max-width: 667px) {
  .footer {
    height: 630px; }
    .footer .footer-heading {
      color: white;
      font-size: 20px;
      padding-top: 40px;
      text-align: center; }
    .footer .footer-contact {
      text-align: center; }
    .footer ul.footer-menu {
      text-align: center;
      margin-bottom: 30px; } }

/*.main {
    margin-top: 190px;
}*/
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; }

/*MIXIN*/
/*Used for icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*END MIXIN*/
.spinner-background {
  background-color: black;
  width: 100%;
  height: 1200px;
  position: absolute;
  z-index: 1000;
  display: none; }
  .spinner-background .edspinner {
    background-image: url("/Static/img/edspinner.gif");
    width: 64px;
    height: 64px;
    display: none;
    left: 50%;
    margin-top: 330px;
    position: absolute;
    z-index: 2000;
    display: none; }

.hide-vue {
  display: none; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: black !important; }

@media screen and (max-width: 667px) {
  .spinner-background .edspinner {
    left: 40%;
    margin-top: 260px; } }

.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  /*.top-header {
        background-color: white;
        height: 40px;
        width: 100%;

        .container {
            max-width: 1380px;

            ul.external-links {
                padding: 0;
                margin-top: 10px;
                font-size: 12px;
                font-weight: 500;

                li {
                    display: inline;
                    margin-left: 8px;

                    img.settings {
                        height: 20px;
                        float: right;
                    }

                    a {
                        color: black;
                        text-decoration: none;
                        font-family: Oswald,sans-serif;
                        text-transform: uppercase;

                        :hover {
                            color: darkgray;
                            text-decoration: underline;
                            text-decoration-color: black;
                        }
                    }
                }
            }
        }
    }*/ }
  .header .main-header {
    background-color: white;
    height: 115px;
    width: 100%;
    border-bottom: 1px solid darkgray; }
    .header .main-header .container {
      padding-top: 30px; }
      .header .main-header .container .ed-logo {
        max-height: 60px;
        width: 210px; }
      .header .main-header .container ul.main-menu {
        margin-left: 15%;
        margin-top: 14px;
        font-size: 22px; }
        .header .main-header .container ul.main-menu li {
          display: inline;
          margin-left: 20px; }
          .header .main-header .container ul.main-menu li a {
            color: black;
            font-family: Oswald,sans-serif;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 22px; }
            .header .main-header .container ul.main-menu li a :hover {
              /*@include iconandlinkhoovercolorred;*/
              color: #0067b8 !important;
              transition: all .15s ease-out !important;
              border-bottom: 3px solid black !important; }
          .header .main-header .container ul.main-menu li i {
            color: black;
            margin-right: 3px; }
      .header .main-header .container .log-in-search {
        float: right;
        margin-top: 8px; }
        .header .main-header .container .log-in-search .log-in {
          display: inline; }
          .header .main-header .container .log-in-search .log-in a {
            font-size: 28px;
            text-decoration: none; }
            .header .main-header .container .log-in-search .log-in a :hover {
              color: #0067b8; }
        .header .main-header .container .log-in-search .search {
          display: inline;
          margin-left: 8px;
          font-size: 26px;
          cursor: pointer;
          z-index: 100; }
          .header .main-header .container .log-in-search .search :hover {
            color: #0067b8; }
          .header .main-header .container .log-in-search .search .search-up {
            display: inline; }
          .header .main-header .container .log-in-search .search .search-down {
            display: none; }
  .header .search-panel {
    height: 175px;
    background-color: #fafafa;
    padding-top: 50px;
    padding-left: 30%;
    padding-right: 30%;
    display: none;
    z-index: 1000; }
    .header .search-panel .search-box {
      border: solid 1px rgba(31, 38, 47, 0.21);
      height: 70px;
      border-radius: 35px;
      width: 100%;
      background-color: #ffffff;
      padding-left: 35px;
      padding-top: 20px;
      cursor: text;
      display: flex;
      flex-direction: row; }
      .header .search-panel .search-box .magnifying-glass {
        margin-bottom: 20px;
        /*@include iconcolorred;*/
        color: #0067b8 !important; }
      .header .search-panel .search-box .search-input {
        margin-bottom: 14px;
        margin-left: 13px;
        border: none;
        font-size: 20px;
        font-family: sans-serif;
        width: 90%; }
        .header .search-panel .search-box .search-input :focus {
          outline-width: 0; }

@media screen and (max-width: 1024px) {
  .container ul.main-menu li {
    margin-left: 0 !important; } }

/*.main {
    margin-top: 190px;
}*/
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; }

/*MIXIN*/
/*Used for icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*END MIXIN*/
.spinner-background {
  background-color: black;
  width: 100%;
  height: 1200px;
  position: absolute;
  z-index: 1000;
  display: none; }
  .spinner-background .edspinner {
    background-image: url("/Static/img/edspinner.gif");
    width: 64px;
    height: 64px;
    display: none;
    left: 50%;
    margin-top: 330px;
    position: absolute;
    z-index: 2000;
    display: none; }

.hide-vue {
  display: none; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: black !important; }

@media screen and (max-width: 667px) {
  .spinner-background .edspinner {
    left: 40%;
    margin-top: 260px; } }

/*Item-read-more*/
.item-read-more {
  color: black;
  font-weight: bold;
  font-size: 16px;
  position: absolute; }

.item-read-more.animateReadMore {
  cursor: pointer;
  color: #da1b60;
  transition: all .15s ease-out;
  border-bottom: 3px solid black;
  width: 58px; }

/*.main {
    margin-top: 190px;
}*/
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; }

/*MIXIN*/
/*Used for icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*END MIXIN*/
.spinner-background {
  background-color: black;
  width: 100%;
  height: 1200px;
  position: absolute;
  z-index: 1000;
  display: none; }
  .spinner-background .edspinner {
    background-image: url("/Static/img/edspinner.gif");
    width: 64px;
    height: 64px;
    display: none;
    left: 50%;
    margin-top: 330px;
    position: absolute;
    z-index: 2000;
    display: none; }

.hide-vue {
  display: none; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: black !important; }

@media screen and (max-width: 667px) {
  .spinner-background .edspinner {
    left: 40%;
    margin-top: 260px; } }

/*.main {
    margin-top: 190px;
}*/
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; }

/*MIXIN*/
/*Used for icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*END MIXIN*/
.spinner-background {
  background-color: black;
  width: 100%;
  height: 1200px;
  position: absolute;
  z-index: 1000;
  display: none; }
  .spinner-background .edspinner {
    background-image: url("/Static/img/edspinner.gif");
    width: 64px;
    height: 64px;
    display: none;
    left: 50%;
    margin-top: 330px;
    position: absolute;
    z-index: 2000;
    display: none; }

.hide-vue {
  display: none; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: black !important; }

@media screen and (max-width: 667px) {
  .spinner-background .edspinner {
    left: 40%;
    margin-top: 260px; } }

/*Mobilmeny*/
.device-header {
  display: none;
  position: fixed;
  width: 100%;
  height: 100px;
  border-bottom: solid 1px #eeeeee;
  z-index: 1220;
  top: 0; }

.device-header-menu {
  display: none;
  padding-top: 100px; }
  .device-header-menu ul {
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding-left: 0; }
    .device-header-menu ul li {
      list-style: none;
      border-top: solid 1px rgba(31, 38, 47, 0.05);
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      /*&:hover {
                background-color: rgba(247, 244, 240, 0.5);
                transition: background .25s ease-out;
                text-decoration: none;
            }*/ }
      .device-header-menu ul li:last-of-type {
        border-bottom: solid 1px #FFFFFF; }
      .device-header-menu ul li a {
        font-weight: bold;
        list-style: none;
        padding: 12px 5px 11px 25px;
        color: black;
        font-size: 20px;
        transition: background .25s ease-out; }
        .device-header-menu ul li a:hover {
          color: black;
          transition: background .25s ease-out;
          text-decoration: none; }
      .device-header-menu ul li ul {
        background-color: #f4f4f4; }
        .device-header-menu ul li ul li a {
          padding-left: 35px;
          font-weight: normal; }
        .device-header-menu ul li ul li ul {
          background-color: #e7e7e7; }
          .device-header-menu ul li ul li ul li a {
            padding-left: 55px; }
      .device-header-menu ul li .sub-items-toggler {
        background-color: #23aae2;
        width: 50px;
        height: 50px;
        float: right;
        margin-left: auto;
        cursor: pointer; }
      .device-header-menu ul li .sub-items-toggler[aria-expanded="true"] {
        background-color: #1c88b4; }

.device-header-menu.open {
  background-color: #99c9ff;
  display: block;
  z-index: 1210; }
  .device-header-menu.open .faq-caret {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .device-header-menu.open .faq-caret .cross {
    background: #FFFFFF;
    height: 2px;
    position: relative;
    width: 14px;
    top: 7px;
    margin: 7px auto; }
  .device-header-menu.open .faq-caret .cross:after {
    background: #FFFFFF;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    width: 14px;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -o-transition: .1s;
    transition: .1s; }
  .device-header-menu.open .collapsed .faq-caret .cross:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); }
  .device-header-menu.open .sub-nav-mobile {
    text-align: center;
    overflow: visible;
    padding-top: 20px; }
    .device-header-menu.open .sub-nav-mobile .black-link {
      color: #363333;
      font-size: 16px;
      font-weight: bold;
      display: block;
      padding-top: 28px; }
    .device-header-menu.open .sub-nav-mobile .external-links {
      list-style: none;
      margin: 0;
      padding: 15px 0 40px 0;
      height: 40px;
      display: block;
      overflow: visible; }
    .device-header-menu.open .sub-nav-mobile .external-links li {
      list-style: none;
      margin: 0;
      height: 30px;
      padding: 0;
      width: 100%;
      text-align: center;
      border: none; }
    .device-header-menu.open .sub-nav-mobile .external-links li a {
      color: #23aae2;
      font-size: 16px;
      font-weight: bold;
      display: block;
      width: 100%;
      height: 30px;
      margin: 0;
      padding: 5px 0 0 20px; }
    .device-header-menu.open .sub-nav-mobile .external-links li a:active {
      background-color: transparent; }
    .device-header-menu.open .sub-nav-mobile .external-links li a:before {
      content: "";
      display: inline-block;
      background: url(/static/img/link-external-blue.svg) no-repeat;
      width: 14px;
      height: 14px;
      position: absolute;
      margin: 6px 0 0 -20px; }

@media only screen and (max-width: 1400px) {
  .header .main-header .main-menu li a {
    font-size: 16px;
    padding: 12px 10px 0 10px; }
  .header .main-header .btn-secondary {
    margin-top: 7px;
    height: 38px;
    padding: 5px 20px 5px 20px; }
  .header .main-header .logged-in span {
    display: none; } }

@media only screen and (max-width: 768px) {
  .main {
    margin-top: 100px; }
  .header {
    display: none; }
  .device-header {
    display: block;
    height: 100px;
    background-color: Black;
    width: 100%; }
    .device-header .mobile-logo {
      width: 225px;
      margin-top: 10px;
      margin-left: 15px; }
    .device-header .btn-secondary {
      float: right;
      margin-top: 23px;
      margin-right: 30px; }
    .device-header .user-icon {
      color: #1cd388;
      font-size: 18px;
      font-weight: bold;
      margin-right: 20px;
      margin-top: 34px;
      display: none;
      float: right; }
      .device-header .user-icon.logged-in {
        display: inline-block; }
      .device-header .user-icon span {
        color: #1cd388;
        font-size: 18px;
        font-weight: bold; }
      .device-header .user-icon:after {
        content: "";
        display: block;
        background: url(/static/img/icon-user-green.svg) no-repeat;
        width: 28px;
        height: 28px;
        float: right;
        margin: -1px 0 0 10px; }
    .device-header .navbar-toggle {
      background-color: transparent;
      width: 31px;
      height: 35px;
      position: relative;
      margin-right: 35px;
      margin-top: 37px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      cursor: pointer;
      display: block !important; }
    .device-header .navbar-toggle span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #FFFFFF;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
    .device-header .navbar-toggle span:nth-child(1) {
      top: 0px; }
    .device-header .navbar-toggle span:nth-child(2),
    .device-header .navbar-toggle span:nth-child(3) {
      top: 10px; }
    .device-header .navbar-toggle span:nth-child(4) {
      top: 20px; }
    .device-header .navbar-toggle.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
      opacity: 0; }
    .device-header .navbar-toggle.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: #99c9ff; }
    .device-header .navbar-toggle.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      background-color: #99c9ff; }
    .device-header .navbar-toggle.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
      opacity: 0; } }

/*@media only screen and (max-width: 768px) {
    .header {
        display: none;
    }

    .device-header {
        display: block;
        height: 100px;
        background-color: red;
        width:100%;

        .logo {
            float: left;
            margin-top: 23px;
            margin-left: 20px;

            img {
                width: 193px;
                height: 48px;
            }
        }

        .btn-secondary {
            float: right;
            margin-top: 23px;
            margin-right: 30px;
        }

        .user-icon {
            color: #1cd388;
            font-size: 18px;
            font-weight: bold;
            margin-right: 20px;
            margin-top: 34px;
            display: none;
            float: right;

            &.logged-in {
                display: inline-block;
            }

            span {
                color: #1cd388;
                font-size: 18px;
                font-weight: bold;
            }

            &:after {
                content: "";
                display: block;
                background: url(/static/img/icon-user-green.svg) no-repeat;
                width: 28px;
                height: 28px;
                float: right;
                margin: -1px 0 0 10px;
            }
        }

        .navbar-toggle {
            background-color: transparent;
            width: 31px;
            height: 35px;
            position: relative;
            margin-right: 20px;
            margin-top: 37px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            cursor: pointer;
        }

        .navbar-toggle span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: #3c2f23;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }

        .navbar-toggle span:nth-child(1) {
            top: 0px;
        }

        .navbar-toggle span:nth-child(2),
        .navbar-toggle span:nth-child(3) {
            top: 10px;
        }

        .navbar-toggle span:nth-child(4) {
            top: 20px;
        }

        .navbar-toggle.open span:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
            opacity: 0;
        }

        .navbar-toggle.open span:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            background-color: #1c88b4;
        }

        .navbar-toggle.open span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            background-color: #1c88b4;
        }

        .navbar-toggle.open span:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
            opacity: 0;
        }
    }
}*/
@media only screen and (max-width: 480px) {
  .device-header-menu {
    padding-top: 80px; }
  .device-header {
    display: block;
    height: 80px; }
    .device-header .logo {
      float: left;
      margin-top: 17px;
      margin-left: 10px; }
      .device-header .logo img {
        width: 176px;
        height: 44px; }
    .device-header .btn-secondary {
      display: none; }
    .device-header .user-icon {
      width: 28px;
      height: 28px;
      float: right;
      display: inline-block;
      background-image: url(/static/img/icon-user.svg);
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
      margin-right: 20px;
      margin-top: 27px; }
      .device-header .user-icon.logged-in {
        background-image: url(/static/img/icon-user-green.svg); }
      .device-header .user-icon span {
        display: none; }
      .device-header .user-icon:after {
        content: "";
        display: block;
        background: none;
        width: 28px;
        height: 28px;
        float: right;
        margin: -1px 0 0 10px; }
    .device-header .navbar-toggle {
      background-color: transparent;
      width: 31px;
      height: 35px;
      position: relative;
      margin-right: 25px;
      margin-top: 29px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      cursor: pointer; } }

/*.main {
    margin-top: 190px;
}*/
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; }

/*MIXIN*/
/*Used for icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*END MIXIN*/
.spinner-background {
  background-color: black;
  width: 100%;
  height: 1200px;
  position: absolute;
  z-index: 1000;
  display: none; }
  .spinner-background .edspinner {
    background-image: url("/Static/img/edspinner.gif");
    width: 64px;
    height: 64px;
    display: none;
    left: 50%;
    margin-top: 330px;
    position: absolute;
    z-index: 2000;
    display: none; }

.hide-vue {
  display: none; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: black !important; }

@media screen and (max-width: 667px) {
  .spinner-background .edspinner {
    left: 40%;
    margin-top: 260px; } }

/* NewsListPage */
.news-list-page .main-text {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 35px; }

.news-list-page .main-text h1 {
  color: black;
  text-decoration: none; }

.news-list-page .main-text p {
  margin-top: 10px; }

.news-list-page .news-list-item {
  background-color: #f4f4f4;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
  opacity: 1;
  transition: 0.3s; }

.news-list-page .news-list-item:hover {
  cursor: pointer;
  background-color: #99c9ff;
  opacity: 0.7; }

.news-list-page .news-list-item.epi:hover {
  cursor: pointer;
  background-color: #99c9ff;
  opacity: 0.7; }

.news-list-page .news-list-item a.no-underline {
  cursor: pointer;
  text-decoration: none;
  color: black; }

.news-list-page .news-list-item .news-list-item-picture img {
  max-width: 100% !important;
  min-width: 100% !important;
  min-height: 292.5px;
  max-height: 292.5px; }

.news-list-page .news-list-item .news-list-item-text-container {
  padding: 25px 20px 40px 20px; }

.news-list-page .news-list-item .news-list-item-text-container .news-list-item-read-more {
  margin-top: 17px;
  color: black;
  font-weight: bold; }

.news-list-page .news-list-item .news-list-item-text-container .news-list-item-read-more-underline {
  height: 3px;
  position: absolute; }

/*.main {
    margin-top: 190px;
}*/
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; }

/*MIXIN*/
/*Used for icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*END MIXIN*/
.spinner-background {
  background-color: black;
  width: 100%;
  height: 1200px;
  position: absolute;
  z-index: 1000;
  display: none; }
  .spinner-background .edspinner {
    background-image: url("/Static/img/edspinner.gif");
    width: 64px;
    height: 64px;
    display: none;
    left: 50%;
    margin-top: 330px;
    position: absolute;
    z-index: 2000;
    display: none; }

.hide-vue {
  display: none; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: black !important; }

@media screen and (max-width: 667px) {
  .spinner-background .edspinner {
    left: 40%;
    margin-top: 260px; } }

.news-page {
  background-color: #f5f5f5;
  padding-bottom: 120px; }
  .news-page .main-text {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 35px; }
    .news-page .main-text h1 {
      color: black;
      text-decoration: none; }
    .news-page .main-text p {
      margin-top: 10px; }
  .news-page .news-page-ingress {
    margin-top: 20px;
    font-size: 22px;
    color: black;
    line-height: 30px; }
  .news-page .news-item {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    opacity: 1;
    transition: 0.3s;
    border: 1px solid lightgrey; }
    .news-page .news-item a.no-underline {
      cursor: pointer;
      text-decoration: none;
      color: black; }
    .news-page .news-item :hover .news-picture img {
      max-width: 100% !important;
      min-width: 100% !important;
      min-height: 292.5px;
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
    .news-page .news-item .news-picture img {
      max-width: 100% !important;
      min-width: 100% !important;
      min-height: 292.5px; }
    .news-page .news-item .news-item-text-container {
      padding: 25px 20px 50px 20px; }
      .news-page .news-item .news-item-text-container .news-item-date {
        margin-top: 10px;
        margin-bottom: 20px; }

/** {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .item {
        position: relative;
        border: 1px solid #333;
        margin: 2%;
        overflow: hidden;
        width: 540px;
    }

    .item img {
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .item:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }*/
/*.main {
    margin-top: 190px;
}*/
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; }

/*MIXIN*/
/*Used for icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*END MIXIN*/
.spinner-background {
  background-color: black;
  width: 100%;
  height: 1200px;
  position: absolute;
  z-index: 1000;
  display: none; }
  .spinner-background .edspinner {
    background-image: url("/Static/img/edspinner.gif");
    width: 64px;
    height: 64px;
    display: none;
    left: 50%;
    margin-top: 330px;
    position: absolute;
    z-index: 2000;
    display: none; }

.hide-vue {
  display: none; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: black !important; }

@media screen and (max-width: 667px) {
  .spinner-background .edspinner {
    left: 40%;
    margin-top: 260px; } }

/*Social Media*/
.social-icons {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  height: 35px;
  display: block; }

.social-icons li {
  list-style: none;
  float: left;
  margin: 0 10px 0 0; }

.social-icons li a {
  height: 35px;
  width: 35px;
  display: block;
  padding: 0;
  transition: all .15s ease-out; }

.social-icons li a:hover {
  transition: all .15s ease-out;
  color: #adb5bd; }

.social-icons li a .social-icons-color {
  /*color: #d3132b;*/
  color: #d3132b; }

.social-icons li a .social-icons-color:hover {
  color: #adb5bd;
  transition: all .15s ease-out; }

.social-icons li a.twitter:hover {
  transition: all .15s ease-out; }

.social-icons li a.email:hover {
  transition: all .15s ease-out; }

.social-icons li a.print:hover {
  transition: all .15s ease-out; }

.at-icon-wrapper {
  display: none !important; }

@media screen and (max-width: 667px) {
  .social-icons {
    text-align: center; }
  .social-icons li {
    display: inline-block;
    float: none; }
    .social-icons li.divider {
      display: none; } }

/*.main {
    margin-top: 190px;
}*/
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; }

/*MIXIN*/
/*Used for icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*END MIXIN*/
.spinner-background {
  background-color: black;
  width: 100%;
  height: 1200px;
  position: absolute;
  z-index: 1000;
  display: none; }
  .spinner-background .edspinner {
    background-image: url("/Static/img/edspinner.gif");
    width: 64px;
    height: 64px;
    display: none;
    left: 50%;
    margin-top: 330px;
    position: absolute;
    z-index: 2000;
    display: none; }

.hide-vue {
  display: none; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: black !important; }

@media screen and (max-width: 667px) {
  .spinner-background .edspinner {
    left: 40%;
    margin-top: 260px; } }

.sport {
  /*.football-league-menu {
        height: 50px;
        width: 100%;
        background-color: #d3132b;
    }*/ }
  .sport.hide-sport {
    display: none; }
  .sport .sport-menu {
    height: 50px;
    width: 100%;
    background-color: deepskyblue; }
    .sport .sport-menu .sport-button {
      width: auto;
      display: inline-block;
      margin-right: 15px;
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 10px;
      text-decoration: none;
      font-size: 20px;
      color: #FFFFFF; }
      .sport .sport-menu .sport-button:hover {
        color: black;
        transition: all .15s ease-out; }
      .sport .sport-menu .sport-button.activeBtn {
        color: #FFFFFF;
        border-bottom: 3px solid white; }
      .sport .sport-menu .sport-button.back-button {
        float: right;
        border-bottom: none; }
  .sport .standings-table {
    margin-top: 50px; }
    .sport .standings-table .standings-inner-table {
      margin-bottom: 30px; }
  .sport .league-tables .landing__module-header {
    color: slategray; }
  .sport .league-tables th {
    background-color: deepskyblue;
    color: #FFFFFF;
    height: 50px; }
  .sport .league-tables .table tr {
    font-weight: 600;
    font-size: 18px; }

[v-cloak] .v-cloak--hidden {
  display: none !important; }

[v-cloak] .v-cloak--block {
  display: block !important; }

[v-cloak] .v-cloak--inline {
  display: inline !important; }

[v-cloak] .v-cloak--inlineBlock {
  display: inline-block !important; }

[v-cloak] .v-cloak--hidden {
  display: none !important; }

[v-cloak] .v-cloak--invisible {
  visibility: hidden !important; }

.v-cloak--block,
.v-cloak--inline,
.v-cloak--inlineBlock {
  display: none !important; }

@media screen and (max-width: 667px) {
  .standings {
    height: 800px;
    margin-top: -20px; }
    .standings .standings-table {
      margin-top: 0; }
      .standings .standings-table .standings-inner-table {
        margin-bottom: 0; }
    .standings h2 {
      font-size: 12px; }
    .standings .league-tables .table th {
      height: 0; }
    .standings .league-tables .table tr {
      font-size: 9px; }
      .standings .league-tables .table tr td {
        padding: 0;
        /*&.table__item-icon {
                            display: none;
                        }*/
        /*&.table__item-description {
                            display: none;
                        }*/ } }

/*.main {
    margin-top: 190px;
}*/
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; }

/*MIXIN*/
/*Used for icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*END MIXIN*/
.spinner-background {
  background-color: black;
  width: 100%;
  height: 1200px;
  position: absolute;
  z-index: 1000;
  display: none; }
  .spinner-background .edspinner {
    background-image: url("/Static/img/edspinner.gif");
    width: 64px;
    height: 64px;
    display: none;
    left: 50%;
    margin-top: 330px;
    position: absolute;
    z-index: 2000;
    display: none; }

.hide-vue {
  display: none; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: black !important; }

@media screen and (max-width: 667px) {
  .spinner-background .edspinner {
    left: 40%;
    margin-top: 260px; } }

.start-page {
  background-color: #ebecec; }
  .start-page .container.top-space-to-boxes {
    margin-top: 116px; }
  .start-page .container .box-full {
    background-color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
    overflow: hidden; }
    .start-page .container .box-full.areas-of-competence-wrapper {
      background-image: url("../img/architectural-design-architecture-building-business-443383.jpg");
      height: 444px;
      width: 100%; }
      .start-page .container .box-full.areas-of-competence-wrapper .areas-of-competence-filter {
        background: rgba(0, 0, 0, 0.6); }
    .start-page .container .box-full h1.start-page-header {
      font-size: 36px;
      color: white;
      font-family: Oswald,sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      margin-top: 0px;
      padding-top: 42px; }
    .start-page .container .box-full .header-line {
      width: 50%;
      margin: auto;
      border-bottom: 3px solid #99c9ff; }
    .start-page .container .box-full .inner-box-full {
      margin-top: 45px;
      margin-left: 17%;
      margin-right: 17%;
      margin-bottom: 45px; }
      .start-page .container .box-full .inner-box-full .areas-of-competence {
        border: 3px solid #99c9ff;
        padding: 25px;
        min-height: 260px; }
        .start-page .container .box-full .inner-box-full .areas-of-competence img.web-development {
          width: 100px;
          margin-left: 22%;
          margin-right: 22%; }
  .start-page .container .box-two-third {
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 430px;
    position: relative;
    overflow: hidden; }
    .start-page .container .box-two-third .box-picture {
      position: relative;
      overflow: hidden;
      height: 430px;
      background-size: cover; }
      .start-page .container .box-two-third .box-picture.slider.buildings {
        background-image: url("../img/slider/architectural-design-architecture-blue-sky-buildings-373584.jpg"); }
      .start-page .container .box-two-third .box-picture.slider.temperature {
        background-image: url("../img/slider/close-up-photography-of-snowflake-813872.jpg"); }
      .start-page .container .box-two-third .box-picture.slider.sport {
        background-image: url("../img/slider/multicolored-soccer-ball-on-green-field-47730.jpg"); }
      .start-page .container .box-two-third .box-picture.slider.articles {
        background-image: url("../img/slider/photo-of-person-reading-1928151.jpg"); }
      .start-page .container .box-two-third .box-picture.slider.news {
        background-image: url("../img/slider/advertisements-batch-blur-business-518543.jpg"); }
      .start-page .container .box-two-third .box-picture .box-picture-text-long {
        height: 31px;
        width: 600px;
        margin-top: 370px;
        margin-left: 3%;
        color: white;
        font-size: 28px; }
  .start-page .container .box-one-third-container :hover {
    transform: scale(1.05);
    transition: all .1s ease-in-out; }
  .start-page .container .box-one-third-container .box-one-third {
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 316px; }
    .start-page .container .box-one-third-container .box-one-third :hover {
      transform: none; }
    .start-page .container .box-one-third-container .box-one-third .box-one-third-text-wrapper {
      padding: 20px; }
      .start-page .container .box-one-third-container .box-one-third .box-one-third-text-wrapper .box-one-third-header {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 10px; }
  .start-page .container .box-one-third-high-container {
    /*:hover {
                transform: scale(1.05);
                transition: all .2s ease-in-out;
            }*/ }
    .start-page .container .box-one-third-high-container .box-one-third-high {
      background-color: white;
      margin-top: 15px;
      margin-bottom: 15px;
      min-height: 390px;
      /*:hover {
                    transform: none;
                }*/ }
      .start-page .container .box-one-third-high-container .box-one-third-high .img-modified {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%); }
      .start-page .container .box-one-third-high-container .box-one-third-high.lunch {
        background-image: url("../img/lunch/blur-close-up-cutlery-delicious.jpg");
        height: 430px; }
        .start-page .container .box-one-third-high-container .box-one-third-high.lunch .lunch-inner-box {
          background: rgba(0, 0, 0, 0.8);
          height: 350px;
          width: 85%;
          color: white;
          margin-left: 8%;
          padding: 20px;
          position: relative; }
          .start-page .container .box-one-third-high-container .box-one-third-high.lunch .lunch-inner-box .lunch-inner-box-header {
            margin-bottom: 20px;
            font-size: 22px; }
          .start-page .container .box-one-third-high-container .box-one-third-high.lunch .lunch-inner-box .lunch-inner-box-link-container {
            float: right;
            cursor: pointer;
            position: absolute;
            bottom: 20px;
            right: 15px; }
            .start-page .container .box-one-third-high-container .box-one-third-high.lunch .lunch-inner-box .lunch-inner-box-link-container .lunch-inner-box-link {
              color: white !important;
              padding-bottom: 10px; }
          .start-page .container .box-one-third-high-container .box-one-third-high.lunch .lunch-inner-box tr td {
            padding-bottom: 15px; }
          .start-page .container .box-one-third-high-container .box-one-third-high.lunch .lunch-inner-box .price-container {
            display: none; }

.top-boxes {
  margin-top: 30px !important; }

.box-header {
  height: 40px;
  background-color: #0067b8; }
  .box-header .box-header-text {
    padding: 10px;
    color: white; }

.box-picture {
  position: relative;
  overflow: hidden;
  height: 150px;
  background-size: cover; }
  .box-picture.sport {
    background-image: url("../img/box_picture/man-wakeboarding-over-body-of-water.jpg"); }
  .box-picture.news {
    background-image: url("../img/box_picture/person-holding-white-and-blue-business-paper.jpg"); }
  .box-picture.articles {
    background-image: url("../img/box_picture/person-reading-magazine.jpg"); }
  .box-picture .box-picture-text {
    background-color: #0067b8;
    color: white;
    height: 26px;
    width: 72px;
    margin-left: 75%;
    text-align: center;
    font-size: 18px;
    position: absolute;
    bottom: 15px;
    right: 12px; }

.hooper {
  height: 430px !important; }

.start-page .areas-of-competence h2.areas-of-competence-header {
  font-size: 26px;
  color: white;
  font-family: Oswald,sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px; }

.start-page .areas-of-competence p.areas-of-competence-paragraph {
  font-size: 20px;
  color: black;
  font-family: 'Source Sans Pro Lighter';
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  line-height: 32px;
  width: 75%;
  margin: auto; }

.start-page .background-grey {
  background-color: #fafafa;
  width: 100%;
  height: 650px; }

.start-page .background-grey .about-me {
  background-color: #fff;
  box-shadow: 1px 1.7px 21px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
  font-size: 16px;
  margin-top: 80px;
  height: 300px;
  margin-bottom: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: row; }

.start-page .background-grey .about-me .about-me-image {
  margin-left: 60px;
  margin-top: 55px; }

.start-page .background-grey .about-me .about-me-image img {
  border-radius: 50%;
  width: 200px; }

.start-page .background-grey .about-me .about-me-info {
  margin-left: 80px;
  margin-right: 100px;
  margin-top: 67px; }

@media screen and (max-width: 1199px) {
  .box-full.areas-of-competence-wrapper {
    display: none; }
  .lunch .lunch-inner-box {
    height: 380px !important; } }

@media screen and (max-width: 1023px) {
  .box-full.areas-of-competence-wrapper {
    display: none; } }

@media screen and (max-width: 991px) {
  .box-two-third.top-boxes {
    display: none; } }

/*.main {
    margin-top: 190px;
}*/
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; }

/*MIXIN*/
/*Used for icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*Used for hoovering icons in menu, footer...*/
/*END MIXIN*/
.spinner-background {
  background-color: black;
  width: 100%;
  height: 1200px;
  position: absolute;
  z-index: 1000;
  display: none; }
  .spinner-background .edspinner {
    background-image: url("/Static/img/edspinner.gif");
    width: 64px;
    height: 64px;
    display: none;
    left: 50%;
    margin-top: 330px;
    position: absolute;
    z-index: 2000;
    display: none; }

.hide-vue {
  display: none; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: black !important; }

@media screen and (max-width: 667px) {
  .spinner-background .edspinner {
    left: 40%;
    margin-top: 260px; } }

.lunch {
  background-color: #ebecec; }
  .lunch .container.top-space-to-boxes {
    margin-top: 116px; }
  .lunch .container .box-two-third-container {
    /*:hover {
                transform: scale(1.05);
                transition: all .1s ease-in-out;
            }*/ }
    .lunch .container .box-two-third-container .box-two-third {
      background-color: white;
      margin-top: 15px;
      margin-bottom: 15px;
      min-height: 316px;
      /*:hover {
                    transform: none;
                }*/ }
      .lunch .container .box-two-third-container .box-two-third .box-two-third-text-wrapper {
        padding: 20px; }
        .lunch .container .box-two-third-container .box-two-third .box-two-third-text-wrapper .box-two-third-header {
          font-weight: 600;
          font-size: 22px;
          margin-bottom: 10px;
          text-align: center; }
        .lunch .container .box-two-third-container .box-two-third .box-two-third-text-wrapper .lunch-day-header h3 {
          font-size: 16px; }
  .lunch .container .lunch-heading {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px; }
    .lunch .container .lunch-heading i {
      margin-right: 10px; }
  .lunch .container .restuarant-heading {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px; }
  .lunch .container .incl-wrapper {
    display: none; }
  .lunch .box-picture {
    position: relative;
    overflow: hidden;
    height: 260px;
    background-size: cover; }
    .lunch .box-picture.lunch.twoValve {
      background-image: url("../img/lunch/2valv1.jpg"); }
    .lunch .box-picture.lunch.percys {
      background-image: url("../img/lunch/percys.jpg"); }
    .lunch .box-picture.lunch.nilssons {
      background-image: url("../img/lunch/nilssons.jpg"); }
    .lunch .box-picture.lunch.frilaget {
      background-image: url("../img/lunch/frilaget.jpg"); }
    .lunch .box-picture .box-picture-text {
      background-color: #0067b8;
      color: white;
      height: 26px;
      width: 174px;
      margin-left: 75%;
      text-align: center;
      font-size: 18px;
      position: absolute;
      bottom: 15px;
      right: 12px; }

@media screen and (max-width: 1200px) {
  .box-picture.lunch {
    display: none; } }

@media screen and (max-width: 667px) {
  .lunch {
    height: 3600px;
    margin-top: -20px; } }
