@import './static/scss/partials/_layout.scss';

/*article page*/

.article-page {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;

    .article-page-center {
        max-width: 80%;
        margin-left: 10%;
    }

    .article-page-heading {
        margin-top: 30px;
    }

    .article-page-heading h1 {
        font-size: 40px;
    }

    .article-page-startpublish {
        font-size: 16px;
    }

    .article-page-ingress {
        margin-top: 20px;
        margin-right: 15%;
        font-size: 22px;
        color: darkgray;
    }

    .article-page-main-body {
        margin-top: 30px;
        margin-right: 15%;
        font-size: 18px;
    }

    .article-page-signature {
        float: right;
        margin-right: 7%;
    }

    .code-heading {
        font-size: 20px;
        margin-bottom: 15px;
        margin-top: 60px;
    }
}









