
.footer {
    background-color: black;
    height: 500px;
    margin-top: 60px;
}

.footer .footer-heading {
    color: white;
    font-size: 20px;
    padding-top: 100px;
}

.footer .footer-contact {
    font-size: 18px;
    color: white;
    margin-top: 25px;
    text-decoration: none !important;
    text-underline: none !important;
}


.footer .footer-social-icons {
    margin-top: 40px;
}

.footer ul.footer-menu {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 60px;
    padding: 0;
}

.footer ul.footer-menu li {
    margin-bottom: 10px;
    text-decoration: none;
    list-style-type: none;
}

.footer ul.footer-menu li a {
    text-decoration: none;
    color: white;
    font-family: Oswald,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.footer ul.footer-menu li a:hover {
    color: #99c9ff;
}
