
.main {
    margin-top: 166px;
}

.header {
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.header .top-header {
    background-color: white;
    height: 40px;
    width: 100%;
}

.header .top-header .container {
    max-width: 1380px;
}

.header .top-header .container ul.external-links {
    padding: 0;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
}

.header .top-header .container ul.external-links li {
    display: inline;
    margin-left: 8px;
}

.header .top-header .container ul.external-links li a {
    color: black;
    text-decoration: none;
    font-family: Oswald,sans-serif;
    text-transform: uppercase;
}

.header .top-header .container ul.external-links li a:hover {
    color: darkgray;
    text-decoration: underline;
    text-decoration-color: black;
}

.header .main-header {
    background-color: black;
    height: 150px;
    width: 100%;
}

.header .main-header .container {
    padding-top: 10px;
    max-width: 1380px;
}

.header .main-header .container ul.main-menu {
    margin-left: 25%;
    font-size: 22px;
    margin-top: 10px;
}

.header .main-header .container ul.main-menu li {
    display: inline;
    margin-left: 20px;
}

.header .main-header .container ul.main-menu li a {
    color: white;
    font-family: Oswald,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.header .main-header .container ul.main-menu li a:hover {
    color: #99c9ff;
    transition: all .15s ease-out;
    border-bottom: 3px solid white;
}

.header .main-header .container .log-in-search {
    float: right;
}

.header .main-header .container .log-in-search .log-in {
    display: inline;
}

.header .main-header .container .log-in-search .log-in a {
    color: #99c9ff;
    font-size: 28px;
    text-decoration: none;
}

.header .main-header .container .log-in-search .log-in a:hover {
    color: white;
}

.header .main-header .container .log-in-search .search {
    display: inline;
    margin-left: 8px;
    color: #99c9ff;
    font-size: 26px;
    cursor: pointer;
    z-index: 100;
}

.header .main-header .container .log-in-search .search .search-up {
    display: inline;
}

.header .main-header .container .log-in-search .search .search-down {
    display: none;
}

.header .main-header .container .log-in-search .search:hover {
    color: white;
}

.header .search-panel {
    height: 175px;
    background-color: #fafafa;
    padding-top: 50px;
    padding-left: 30%;
    padding-right: 30%;
    display: none;
    z-index: 1000;
}

.header .search-panel .search-box {
    border: solid 1px rgba(31, 38, 47, 0.21);
    height: 70px;
    border-radius: 35px;
    width: 100%;
    background-color: #ffffff;
    padding-left: 35px;
    padding-top: 20px;
    cursor: text;
    display: flex;
    flex-direction: row;
}

.header .search-panel .search-box .magnifying-glass {
    margin-bottom: 20px;
    color: #99c9ff;
}

.header .search-panel .search-box .search-input {
    margin-bottom: 14px;
    margin-left: 13px;
    border: none;
    font-size: 20px;
    font-family: sans-serif;
    width: 90%;
}

.header .search-panel .search-box .search-input:focus {
    outline-width: 0;
}
