@import './static/scss/partials/_layout.scss';

/*Item-read-more*/

.item-read-more {
    color: black;
    font-weight: bold;
    font-size: 16px;
    position:absolute;
}

.item-read-more.animateReadMore {
    cursor: pointer;
    color: #da1b60;
    transition: all .15s ease-out;
    border-bottom: 3px solid black;
    width: 58px;
}
