/* NewsListPage */

.news-list-page .main-text {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 35px;
}

.news-list-page .main-text h1 {
    color: black;
    text-decoration: none;
}

.news-list-page .main-text p {
    margin-top: 10px;
}

.news-list-page .news-list-item {
    background-color: #f4f4f4;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    opacity: 1;
    transition: 0.3s;
}


.news-list-page .news-list-item:hover {
    cursor: pointer;
    background-color: #99c9ff;
    opacity: 0.7
}

.news-list-page .news-list-item.epi:hover {
    cursor: pointer;
    background-color: #99c9ff;
    opacity: 0.7
}

.news-list-page .news-list-item a.no-underline {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.news-list-page .news-list-item .news-list-item-picture img {
    max-width: 100% !important;
    min-width: 100% !important;
    min-height: 292.5px;
    max-height: 292.5px;
}

.news-list-page .news-list-item .news-list-item-text-container {
    padding: 25px 20px 40px 20px;
}

.news-list-page .news-list-item .news-list-item-text-container .news-list-item-read-more {
    margin-top: 17px;
    color: black;
    font-weight: bold;
}

.news-list-page .news-list-item .news-list-item-text-container .news-list-item-read-more-underline {
    height: 3px;
    position: absolute;
}
