@model Web.Models.ViewModels.StartPageViewModel

<div class="start-page">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <img src="~/Static/img/computer_modified.png" class="computer"/>
            <h1 class="start-page-header">Areas of competence</h1>
            <div class="header-line"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="areas-of-competence">
                            <img src="~/Static/img/web-development.svg" class="web-development"/>
                            <h2 class="areas-of-competence-header">Episerver development</h2>
                            <p class=" areas-of-competence-paragraph">
                                I develop sites for multinational corporations.
                                Work is divied in to design, development and Deployment.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="areas-of-competence">
                            <img src="~/Static/img/responsive.svg" class="web-development"/>
                            <h2 class="areas-of-competence-header">Web design</h2>
                            <p class=" areas-of-competence-paragraph">
                                I design pages using the latest development-tools and pages are 100% responsive, working on computer, tablat and Phone.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="areas-of-competence">
                            <img src="~/Static/img/development.svg" class="web-development"/>
                            <h2 class="areas-of-competence-header">Responsibility</h2>
                            <p class=" areas-of-competence-paragraph">
                                I take responsibilty from the from the first skretch to roll-out of complete solution.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="background-grey">
                <h1 class="start-page-header">About me</h1>
                <div class="header-line"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-me">
                                <div class="about-me-image">
                                    @*<img src="~/Static/img/kalle.jpg">*@
                                    <img src="~/Static/img/kalle_falsterbo.png"/>
                                </div>
                                <div class="about-me-info">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae feugiat sapien, a sodales tortor.
                                    Nam condimentum mauris sit amet consectetur egestas.
                                    Donec ac diam ut eros commodo aliquet id vel nunc. Phasellus scelerisque nibh ac risus elementum egestas.
                                    Mauris in tellus augue. Vestibulum eget massa a est feugiat viverra. Aliquam ac eros vitae nunc pellentesque aliquam non non dolor.
                                    Maecenas laoreet, purus vel ultricies dapibus, erat elit cursus enim, eu consequat orci dolor a neque.
                                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="contactPerson">
        <div class="contactPerson__imageHolder"> <img class="contactPerson__image" src="https://www.infozone.se/wp-content/uploads/2017/12/hampus.jpg" alt="">
            </div>
        <div class="contactPerson__info">
            <div class="contactPerson__infoInner">
                <h3 class="contactPerson__name">Hampus Carnemark</h3>
                <p class="contactPerson__title">VD</p>
                <p class="contactPerson__contactRow"> <a class="contactPerson__contactInfo contactPerson__mail" href="mailto:hampus.carnemark@infozone.se">Skicka e-post</a></p><
                /div>
            </div>
        </div>
    </div>*@



    @*<div>@Model.CurrentPage.Ingress</div>
        <div>
            @if (!string.IsNullOrEmpty(Model.CurrentPage.Image.ImageUrl))
        {
                @Model.CurrentPage.Image.ToHtml()
            }
        </div>
        <div>@Model.CurrentPage.MainBody</div>*@
</div>


<div class="greyed-search"></div>