
<tbody class="lunch-day-content">
    <tr class="lunch-menu-item">
        <td class="td_title">
            Hemmalagad pytt i panna med stekt ägg och rödbetor
        </td>
        <td class="td_dbsk hidden-xs">
            <div class="incl-wrapper">
                <div class="incl-icon-wrapper"><img src="/msrc/img/attrD.png" alt="Dricka" title="Dricka ingår" class="incl-icon"><span class="incl-icon-label">Dricka</span></div><div class="incl-icon-wrapper"><img src="/msrc/img/attrB.png" alt="Bröd" title="Bröd ingår" class="incl-icon"><span class="incl-icon-label">Bröd</span></div><div class="incl-icon-wrapper"><img src="/msrc/img/attrS.png" alt="Sallad" title="Sallad ingår" class="incl-icon"><span class="incl-icon-label">Sallad</span></div><div class="incl-icon-wrapper"><img src="/msrc/img/attrK.png" alt="Kaffe" title="Kaffe ingår" class="incl-icon"><span class="incl-icon-label">Kaffe</span></div>
            </div>
        </td>
        <td class="td_price">
            <div class="price-container">
                <div class="price">
                    <div class="price-alt">
                        <strong class="price-tag">75 kr</strong>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr class="lunch-menu-item">
        <td class="td_title">
            Coq au vin på kycklingfilé,bacon,champinjoner,rödvin samt ris
        </td>
        <td class="td_dbsk hidden-xs">
            <div class="incl-wrapper">
                <div class="incl-icon-wrapper"><img src="/msrc/img/attrD.png" alt="Dricka" title="Dricka ingår" class="incl-icon"><span class="incl-icon-label">Dricka</span></div><div class="incl-icon-wrapper"><img src="/msrc/img/attrB.png" alt="Bröd" title="Bröd ingår" class="incl-icon"><span class="incl-icon-label">Bröd</span></div><div class="incl-icon-wrapper"><img src="/msrc/img/attrS.png" alt="Sallad" title="Sallad ingår" class="incl-icon"><span class="incl-icon-label">Sallad</span></div><div class="incl-icon-wrapper"><img src="/msrc/img/attrK.png" alt="Kaffe" title="Kaffe ingår" class="incl-icon"><span class="incl-icon-label">Kaffe</span></div>
            </div>
        </td>
        <td class="td_price">
            <div class="price-container">
                <div class="price">
                    <div class="price-alt">
                        <strong class="price-tag">75 kr</strong>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr class="lunch-menu-item">
        <td class="td_title">
            Potatis och zucchinibiffar med tomatsås och pestokeso<img src="//gastrogate.com//pic/icon/vegetariskt.svg" height="18" width="18" alt="Rätten är Vegetarisk." title="Rätten är Vegetarisk.">
        </td>
        <td class="td_dbsk hidden-xs">
            <div class="incl-wrapper">
                <div class="incl-icon-wrapper"><img src="/msrc/img/attrD.png" alt="Dricka" title="Dricka ingår" class="incl-icon"><span class="incl-icon-label">Dricka</span></div><div class="incl-icon-wrapper"><img src="/msrc/img/attrB.png" alt="Bröd" title="Bröd ingår" class="incl-icon"><span class="incl-icon-label">Bröd</span></div><div class="incl-icon-wrapper"><img src="/msrc/img/attrS.png" alt="Sallad" title="Sallad ingår" class="incl-icon"><span class="incl-icon-label">Sallad</span></div><div class="incl-icon-wrapper"><img src="/msrc/img/attrK.png" alt="Kaffe" title="Kaffe ingår" class="incl-icon"><span class="incl-icon-label">Kaffe</span></div>
            </div>
        </td>
        <td class="td_price">
            <div class="price-container">
                <div class="price">
                    <div class="price-alt">
                        <strong class="price-tag">75 kr</strong>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr class="lunch-menu-item">
        <td class="td_title">
            Mix and match salladsbar
        </td>
        <td class="td_dbsk hidden-xs">
            <div class="incl-wrapper">
                <div class="incl-icon-wrapper"><img src="/msrc/img/attrD.png" alt="Dricka" title="Dricka ingår" class="incl-icon"><span class="incl-icon-label">Dricka</span></div><div class="incl-icon-wrapper"><img src="/msrc/img/attrB.png" alt="Bröd" title="Bröd ingår" class="incl-icon"><span class="incl-icon-label">Bröd</span></div><div class="incl-icon-wrapper"><img src="/msrc/img/attrS.png" alt="Sallad" title="Sallad ingår" class="incl-icon"><span class="incl-icon-label">Sallad</span></div><div class="incl-icon-wrapper"><img src="/msrc/img/attrK.png" alt="Kaffe" title="Kaffe ingår" class="incl-icon"><span class="incl-icon-label">Kaffe</span></div>
            </div>
        </td>
        <td class="td_price">
            <div class="price-container">
                <div class="price">
                    <div class="price-alt">
                        <strong class="price-tag">75 kr</strong>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</tbody>