@model Web.Models.ViewModels.PageViewModel<Web.Models.Pages.LunchPage>

<div class="lunch hide-vue">
    <div class="container top-space-to-boxes">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 class="lunch-heading"><i class="fas fa-utensils"></i>LUNCH</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a target="_blank" href="https://restaurang2valv.gastrogate.com/">
                    <div class="box-two-third-container">
                        <div class="box-two-third">
                            <div class="box-picture lunch twoValve">
                                <div class="box-picture-text">
                                    2 Valv och kök
                                </div>
                            </div>
                            <div class="box-two-third-text-wrapper">
                                <div class="box-two-third-header">2 Valv och kök</div>
                                <p v-html=twoValveAndKitchenHtmlTable></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a target="_blank" href="https://percysrestaurang.gastrogate.com/lunch/">
                    <div class="box-two-third-container">
                        <div class="box-two-third">
                            <div class="box-picture lunch percys">
                                <div class="box-picture-text">
                                    Percys
                                </div>
                            </div>
                            <div class="box-two-third-text-wrapper">
                                <div class="box-two-third-header">Percys</div>
                                <p v-html=percysHtmlTable></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a target="_blank" href="https://nilssonsrestaurang.gastrogate.com/">
                    <div class="box-two-third-container">
                        <div class="box-two-third">
                            <div class="box-picture lunch nilssons">
                                <div class="box-picture-text">
                                    Nilssons
                                </div>
                            </div>
                            <div class="box-two-third-text-wrapper">
                                <div class="box-two-third-header">Nilssons</div>
                                <p v-html=nilssonsHtmlTable></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>             
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a target="_blank" href="https://frilaget.gastrogate.com/">
                    <div class="box-two-third-container">
                        <div class="box-two-third">
                            <div class="box-picture lunch frilaget">
                                <div class="box-picture-text">
                                    Friläget
                                </div>
                            </div>
                            <div class="box-two-third-text-wrapper">
                                <div class="box-two-third-header">Friläget</div>
                                <p v-html=frilagetHtmlTable></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        @*<div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a target="_blank" href="/">
                    <div class="box-two-third-container">
                        <div class="box-two-third">
                            <div class="box-two-third-text-wrapper">
                                <div class="box-one-third-header">Percys</div>
                                <p v-html=percysHtmlTable></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a target="_blank" href="/">
                    <div class="box-two-third-container">
                        <div class="box-two-third">
                            <div class="box-two-third-text-wrapper">
                                <div class="box-one-third-header">Nilssons</div>
                                <p v-html=nilssonsHtmlTable></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>*@
    </div>
    <hr />
    <br />
    <br />
</div>
<hr />
<br />
<br />


@section scripts {
    <script src="~/dist/lunchpage.bundle.js"></script>
}


