@using KalikoCMS
@using KalikoCMS.Core
@using Web.Models.ViewModels
@model Web.Models.ViewModels.IPageViewModel<KalikoCMS.Core.CmsPage>

<div class="device-header">
    <a target="_self" href="/"><img class="mobile-logo" src="/Static/img/logga.jpg"></a>
        <div class="float-right">
            <button class="navbar-toggle" id="show-device-menu" type="button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
</div>

<div class="device-header-menu">
    <ul>
        @foreach (var page in Model.MainMenu)
        {
            <li>
                <a href="@page.PageUrl" title="@page.PageName">@page.PageName</a>              
            </li>
        }
    </ul>
</div>