<!-- Go to www.addthis.com/dashboard to customize your tools -->
@*<div class="social-footer">
        <ul class="social-icons">
            <li><a class="addthis_button_facebook facebook"></a></li>
            <li><a class="addthis_button_twitter twitter"></a></li>
            <li><a class="addthis_button_email email"></a></li>
            <li class="divider"></li>
            <li><a class="addthis_button_print print"></a></li>
        </ul>
    </div>*@


<ul class="social-icons">
    <li>
        <a class="addthis_button_facebook">
            <i class="fab fa-facebook fa-2x social-icons-color"></i>
        </a>
    </li>
    <li>
        <a class="addthis_button_linkedin">        
            <i class="fab fa-linkedin fa-2x social-icons-color"></i>
        </a>
    </li>
    <li>
        <a class="addthis_button_twitter twitter">
            <i class="fab fa-twitter-square fa-2x social-icons-color"></i>
        </a>
    </li>
    <li>
        <a class="addthis_button_email email">
            <i class="fas fa-envelope-square fa-2x social-icons-color"></i>
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a class="addthis_button_print print">
            <i class="fas fa-print fa-2x social-icons-color"></i>
        </a>
    </li>
</ul>
