
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>News list</title>
</head>
<body>
<div>
    News list
</div>
</body>
</html>
