/*Header*/
.main {
    margin-top: 166px;
}

.header {
    width: 100%;
    position: fixed;
    z-index: 1000;
}

    .header .top-header {
        background-color: white;
        height: 40px;
        width: 100%;
    }

        .header .top-header .container {
            max-width: 1380px;
        }

            .header .top-header .container ul.external-links {
                padding: 0;
                margin-top: 10px;
                font-size: 12px;
                font-weight: 500;
            }

                .header .top-header .container ul.external-links li {
                    display: inline;
                    margin-left: 8px;
                }

                    .header .top-header .container ul.external-links li a {
                        color: black;
                        text-decoration: none;
                        font-family: Oswald,sans-serif;
                        text-transform: uppercase;
                    }

                        .header .top-header .container ul.external-links li a:hover {
                            color: darkgray;
                            text-decoration: underline;
                            text-decoration-color: black;
                        }

    .header .main-header {
        background-color: black;
        height: 150px;
        width: 100%;
    }

        .header .main-header .container {
            padding-top: 10px;
            max-width: 1380px;
        }

            .header .main-header .container ul.main-menu {
                margin-left: 25%;
                font-size: 22px;
                margin-top: 10px;
            }

                .header .main-header .container ul.main-menu li {
                    display: inline;
                    margin-left: 20px;
                }

                    .header .main-header .container ul.main-menu li a {
                        color: white;
                        font-family: Oswald,sans-serif;
                        text-decoration: none;
                        text-transform: uppercase;
                    }

                        .header .main-header .container ul.main-menu li a:hover {
                            color: #99c9ff;
                            border-bottom: 3px solid white;
                        }

            .header .main-header .container .log-in-search {
                float: right;
            }

                .header .main-header .container .log-in-search .log-in {
                    display: inline;
                }

                    .header .main-header .container .log-in-search .log-in a {
                        color: #99c9ff;
                        font-size: 28px;
                        text-decoration: none;
                    }

                        .header .main-header .container .log-in-search .log-in a:hover {
                            color: white;
                        }

                .header .main-header .container .log-in-search .search {
                    display: inline;
                    margin-left: 8px;
                    color: #99c9ff;
                    font-size: 26px;
                    cursor: pointer;
                    z-index: 100;
                }

                    .header .main-header .container .log-in-search .search .search-up {
                        display: inline;
                    }

                    .header .main-header .container .log-in-search .search .search-down {
                        display: none;
                    }

                    .header .main-header .container .log-in-search .search:hover {
                        color: white;
                    }

    .header .search-panel {
        height: 175px;
        background-color: #fafafa;
        padding-top: 50px;
        padding-left: 30%;
        padding-right: 30%;
        display: none;
        z-index: 1000;
    }

        .header .search-panel .search-box {
            border: solid 1px rgba(31, 38, 47, 0.21);
            height: 70px;
            border-radius: 35px;
            width: 100%;
            background-color: #ffffff;
            padding-left: 35px;
            padding-top: 20px;
            cursor: text;
            display: flex;
            flex-direction: row;
        }

            .header .search-panel .search-box .magnifying-glass {
                margin-bottom: 20px;
                color: #99c9ff;
            }

            .header .search-panel .search-box .search-input {
                margin-bottom: 14px;
                margin-left: 13px;
                border: none;
                font-size: 20px;
                font-family: sans-serif;
                width: 90%;
            }

                .header .search-panel .search-box .search-input:focus {
                    outline-width: 0;
                }

/*Footer*/
.footer {
    background-color: black;
    height: 400px;
    margin-top: 200px;
}

    .footer .container .row ul.footer-menu {
        font-size: 16px;
        margin-top: 50px;
        margin-bottom: 60px;
    }

        .footer .container .row ul.footer-menu li {
            margin-bottom: 10px;
            text-decoration: none;
            list-style-type: none;
        }

            .footer .container .row ul.footer-menu li a {
                text-decoration: none;
                color: white;
                font-family: Oswald,sans-serif;
                text-decoration: none;
                text-transform: uppercase;
            }

                .footer .container .row ul.footer-menu li a:hover {
                    color: #99c9ff;
                }


/*Startpage*/
.start-page .computer {
    width: 100%;
}

.start-page .header-line {
    width: 50%;
    margin: auto;
    border-bottom: 3px solid #99c9ff;
}

.start-page h1.start-page-header {
    font-size: 75px;
    color: black;
    font-family: Oswald,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin-top: 90px;
    padding-top: 50px;
}

.start-page .areas-of-competence {
    border: 3px solid #99c9ff;
    height: 450px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 80px;
    width: 340px;
}

    .start-page .areas-of-competence:hover {
        background-color: gainsboro;
    }

    .start-page .areas-of-competence img.web-development {
        width: 150px;
        margin-top: 65px;
        margin-left: 90px;
    }

    .start-page .areas-of-competence h2.areas-of-competence-header {
        font-size: 26px;
        color: black;
        font-family: Oswald,sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .start-page .areas-of-competence p.areas-of-competence-paragraph {
        font-size: 20px;
        color: black;
        font-family: 'Source Sans Pro Lighter';
        text-decoration: none;
        text-align: center;
        margin-top: 20px;
        line-height: 32px;
        width: 75%;
        margin: auto;
    }

.start-page .background-grey {
    background-color: #fafafa;
    width: 100%;
    height: 650px;
}

    .start-page .background-grey .about-me {
        background-color: #fff;
        box-shadow: 1px 1.7px 21px 0 rgba(0,0,0,.15);
        width: 100%;
        font-size: 16px;
        margin-top: 80px;
        height: 300px;
        margin-bottom: 50px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
    }

        .start-page .background-grey .about-me .about-me-image {
            margin-left: 60px;
            margin-top: 55px;
        }

            .start-page .background-grey .about-me .about-me-image img {
                border-radius: 50%;
                width: 200px;
            }

        .start-page .background-grey .about-me .about-me-info {
            margin-left: 80px;
            margin-right: 100px;
            margin-top: 67px;
        }

/* NewsPage */

.news-page .main-text {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 35px;
}

    .news-page .main-text h1 {
        color: black;
        text-decoration: none;
    }

    .news-page .main-text p {
        margin-top: 10px;
    }


.news-page .news-item {
    background-color: #f4f4f4;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    opacity: 1;
    transition: 0.3s;
}


    .news-page .news-item:hover {
        cursor: pointer;
        background-color: #99c9ff;
        opacity: 0.7
    }

    .news-page .news-item.epi:hover {
        cursor: pointer;
        background-color: #99c9ff;
        opacity: 0.7
    }

    .news-page .news-item a.no-underline {
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

    .news-page .news-item .news-picture img {
        max-width: 100% !important;
        min-width: 100% !important;
        min-height: 292.5px;
    }

    .news-page .news-item .news-item-text-container {
        padding: 25px 20px 50px 20px;
    }

        .news-page .news-item .news-item-text-container .news-item-date {
            margin-top: 10px;
        }

        .news-page .news-item .news-item-text-container .news-item-read-more {
            margin-top: 15px;
            color: black;
            font-weight: bold;
        }

        /*.news-page .news-item .news-item-text-container .news-item-read-more:hover {
                color: white;           
            }*/

        .news-page .news-item .news-item-text-container .news-item-read-more-underline {
            /*border: 1px solid white;
            width: 60px;*/
            height: 3px;
            position: absolute;
        }


/* NewsListPage */

.news-list-page .main-text {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 35px;
}

    .news-list-page .main-text h1 {
        color: black;
        text-decoration: none;
    }

    .news-list-page .main-text p {
        margin-top: 10px;
    }

.news-list-page .news-list-item {
    background-color: #f4f4f4;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    opacity: 1;
    transition: 0.3s;
}


    .news-list-page .news-list-item:hover {
        cursor: pointer;
        background-color: #99c9ff;
        opacity: 0.7
    }

    .news-list-page .news-list-item.epi:hover {
        cursor: pointer;
        background-color: #99c9ff;
        opacity: 0.7
    }

    .news-list-page .news-list-item a.no-underline {
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

    .news-list-page .news-list-item .news-list-item-picture img {
        max-width: 100% !important;
        min-width: 100% !important;
        min-height: 292.5px;
        max-height: 292.5px;
    }

    .news-list-page .news-list-item .news-list-item-text-container {
        padding: 25px 20px 50px 20px;
    }

        .news-list-page .news-list-item .news-list-item-text-container .news-list-item-read-more {
            margin-top: 15px;
            color: black;
            font-weight: bold;
        }

        .news-list-page .news-list-item .news-list-item-text-container .news-list-item-read-more-underline {
            height: 3px;
            position: absolute;
        }

/* Error Page */

.error-bg {
    background-image: url(/Static/img/black_and_white_man_error_page.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 1024px;
}

    .error-bg .error-inner {
        margin: auto;
        padding-top: 170px;
    }

        .error-bg .error-inner .error-text-404 {
            font-size: 160px;
            color: white;
            font-family: sans-serif;
        }

        .error-bg .error-inner .intro {
            margin-top: 15px;
        }

        .error-bg .error-inner p,
        .error-bg .error-inner h1 {
            color: #ffffff;
            margin-bottom: 15px;
        }

        .error-bg .error-inner .error-text-links {
            color: #99c9ff;
            text-decoration: none;
            text-transform: uppercase;
            margin-left: 10px;
        }

        .error-bg .error-inner .error-logo {
            width: 217px;
            height: 54px;
            margin-top: 120px;
        }

        .error-bg .error-inner .error-status {
            margin-bottom: 50px;
        }


/* ArticleListPage */

.article-list-page .main-text {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 35px;
}

    .article-list-page .main-text h1 {
        color: black;
        text-decoration: none;
    }

    .article-list-page .main-text p {
        margin-top: 10px;
    }

.article-list-page .article-list-item {
    background-color: #f4f4f4;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    opacity: 1;
    transition: 0.3s;
}


    .article-list-page .article-list-item:hover {
        cursor: pointer;
        background-color: #99c9ff;
        opacity: 0.7
    }


    .article-list-page .article-list-item a.no-underline {
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

    .article-list-page .article-list-item .article-list-item-picture img {
        max-width: 100% !important;
        min-width: 100% !important;
        min-height: 292.5px;
        max-height: 292.5px;
    }

    .article-list-page .article-list-item .article-list-item-text-container {
        padding: 25px 20px 50px 20px;
    }

        .article-list-page .article-list-item .article-list-item-text-container .article-list-item-read-more {
            margin-top: 15px;
            color: black;
            font-weight: bold;
        }

        .article-list-page .article-list-item .article-list-item-text-container .article-list-item-read-more-underline {
            height: 3px;
            position: absolute;
        }

/*article page*/

.article-page {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

    .article-page .article-page-image {
    }

    .article-page .article-page-heading {
        margin-top: 30px;
    }

        .article-page .article-page-heading h1 {
            font-size: 40px;
        }

    .article-page .article-page-startpublish {
        font-size: 16px;
    }


    .article-page .social-footer {
        display: block;
        width: 100%;
        margin-top:40px;
    }

    .article-page .social-footer .social-icons {
        list-style: none;
        margin: 10px 0;
        padding: 0;
        height: 35px;
        display: block;
    }

        .article-page .social-footer .social-icons li {
            list-style: none;
            float: left;
            margin: 0 10px 0 0;
        }

            .article-page .social-footer .social-icons li a {
                height: 35px;
                width: 35px;
                display: block;
                padding: 0;
                background-image: url(/static/img/facebook-social-gray.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 35px 35px;
                transition: all .15s ease-out;
            }

                .article-page .social-footer .social-icons li a:hover {
                    transition: all .15s ease-out;
                    background-image: url(/static/img/facebook-social-blue.svg);
                }

                .article-page .social-footer .social-icons li a.twitter {
                    background-image: url(/static/img/twitter-social-gray.svg);
                }

                    .article-page .social-footer .social-icons li a.twitter:hover {
                        transition: all .15s ease-out;
                        background-image: url(/static/img/twitter-social-blue.svg);
                    }

                .article-page .social-footer .social-icons li a.email {
                    background-image: url(/static/img/mail-social-gray.svg);
                }

                    .article-page .social-footer .social-icons li a.email:hover {
                        transition: all .15s ease-out;
                        background-image: url(/static/img/mail-social-blue.svg);
                    }

                .article-page .social-footer .social-icons li a.print {
                    background-image: url(/static/img/print-gray.svg);
                }

                    .article-page .social-footer .social-icons li a.print:hover {
                        transition: all .15s ease-out;
                        background-image: url(/static/img/print-blue.svg);
                    }

    .article-page .article-page-ingress {
        margin-top: 25px;
        margin-right: 15%;
        font-size: 22px;
        color: darkgray;
    }

    .article-page .article-page-main-body {
        margin-top: 25px;
        margin-right: 15%;
        font-size: 18px;
    }


/*Control Panel*/
.control-panel-page {
    background-color: #f4f4f4;
}

    .control-panel-page .main-text {
        margin-bottom: 40px;
        margin-top: 20px;
    }

        .control-panel-page .main-text h1 {
            margin-left: 15px;
        }

    .control-panel-page .control-panel-page-panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid lightgrey;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

        .control-panel-page .control-panel-page-panel .panel-links-heading {
            margin-left: 25px;
            margin-top: 25px;
            margin-bottom: 20px;
        }

        .control-panel-page .control-panel-page-panel .panel-link-container {
            height: 300px;
        }

            .control-panel-page .control-panel-page-panel .panel-link-container a {
                text-decoration: none;
            }

            .control-panel-page .control-panel-page-panel .panel-link-container .control-panel-link-item {
                background-color: #fff;
                box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
                padding: 10px 10px 10px 10px;
                -webkit-transition: box-shadow 200ms;
                transition: box-shadow 200ms;
                border-radius: 2px;
                display: flex;
                flex-direction: row;
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
            }

                .control-panel-page .control-panel-page-panel .panel-link-container .control-panel-link-item:after {
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                }

                .control-panel-page .control-panel-page-panel .panel-link-container .control-panel-link-item:hover:after {
                    opacity: 1;
                }

                .control-panel-page .control-panel-page-panel .panel-link-container .control-panel-link-item .control-panel-link-item-text {
                    text-transform: uppercase;
                    color: #4d4d4d;
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-top: 7px;
                    font-size: 18px;
                }


                .control-panel-page .control-panel-page-panel .panel-link-container .control-panel-link-item .control-panel-link-item-image {
                }


/* Buttons */
.btn-default {
    border: solid 2px #99c9ff;
    background-color: #23aae2;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 10px 40px 10px 40px;
    color: #ffffff;
    z-index: 10;
    cursor: pointer;
    font-weight: 600;
    border-radius: 27px;
    height: 48px;
    transition: all .25s ease-out;
}

    .btn-default:active,
    .btn-default:hover {
        background-color: #1c88b4;
        border: solid 2px #1c88b4;
        color: #ffffff;
        transition: all .25s ease-out;
    }

.btn-secondary {
    border: solid 2px #23aae2;
    background-color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 10px 40px 10px 40px;
    color: #23aae2;
    z-index: 10;
    cursor: pointer;
    font-weight: 600;
    border-radius: 27px;
    height: 48px;
    transition: all .25s ease-out;
}

    .btn-secondary:active,
    .btn-secondary:hover {
        background-color: #f4f4f4;
        border: solid 2px #23aae2;
        color: #23aae2;
        transition: all .25s ease-out;
    }

.btn-ed {
    background-color: black;
    color: #99c9ff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    background-color: black;
    filter: alpha(opacity=30);
    opacity: 0.7;
    display: none;
}
